<h1>Find a Pet</h1>
<div ng-controller="AnimalController">
  <select ng-model="selectedAnimal" ng-change="selectAction()" ng-options="animal.display for animal in animalType">
      <option value="">Select an animal...</option>
  </select>
</div>
<div class="container" ng-controller="birdController">
  <div class="randomAnimalBorder">
    <img class="randomAnimal" src="{{animal.media.photos.photo[2].$t}}" />
  </div>
  <h2>{{animal.name.$t}}</h2>
  <div class="animalDescription">
    <p>{{animal.description.$t}}</p>
  </div>
  <div class="addToFav">
    <button ng-click="addToFavorites()">Add to Favorites</button>
  </div>
</div>
